---
import { SITE_TITLE, SITE_DESCRIPTION, COMPANY_NAME } from "../../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/ui/FormattedDate.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import Header from "../../components/astro/Header.astro";
import ImageComp from "../../components/ImageComp.astro";

const data = {
  imagePath: "/src/assets/alto_ng_panel-USATS-florida-pilot-training-space-coast.jpg",
  imageAlt: "",
  headerH1: "Blog",
  headerH2: "Blog Post 1",
  
};

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<BaseLayout
  siteTitle=`Blog | ${COMPANY_NAME}` 
  siteDescription="Explore the latest happenings in the world of flight training . Gain valuable insights and tips to ease pre-flight jitters and prepare effectively for your important milestones."
  keywords="flight training blog, aviation tips, pilot training articles, learn to fly resources, flight school insights, aviation news, pilot advice, pre-flight tips, student pilot guidance, flight training milestones, airplane training blog, helicopter training blog, FAA training tips, aviation safety tips"
>
  <!-- Header -->
  <Header data={data} />
  <section class="w-full bg-primary-900 mx-auto lg:py-15 px-7 py-10">
    <ul class="flex justify-evenly items-center align-middle flex-wrap gap-6">
      {
        posts.map((post, index) => (
          <li class="h-96 ring-1 hover:ring-2 hover:shadow-lg hover:scale-[1.02] ring-accent-900 bg-primary-950/90 hover:bg-accent-950/90 rounded-tr-xl rounded-bl-xl duration-300 ease-in-out overflow-hidden group w-full md:w-[48%]">
            <a
              href={`/blog/${post.slug}`}
              class={`flex flex-col lg:flex-row gap-5 h-full`}
            >
              <div class="flex-1 h-full flex flex-col justify-end p-4 lg:px-8 lg:py-10">
                <div>
                  <h2 class={`font-semibold leading-8 text-white text-2xl`}>
                    {post.data.title}
                  </h2>
                  <p
                    class={`mt-3 font-sans text-muted-400 leading-4 text-ellipsis text-sm`}
                  >
                    {post.data.description}
                  </p>
                  <div class="flex items-center gap-1 mt-4">
                    <p class="font-thin text-sm text-muted-100">
                      By{" "}
                      <strong class="font-bold text-lg">
                        {post.data.author}
                      </strong>
                    </p>
                  </div>
                </div>
                <p class="text-muted-200/60 text-base font-medium group-hover:text-muted-100/90 duration-500">
                  <FormattedDate date={post.data.pubDate} />
                </p>
              </div>
              <div class="flex-1 h-full border-l border-accent-800/50 overflow-hidden">
                <img
                  src={post.data.heroImage}
                  alt={post.data.title}
                  class="h-full object-cover w-full group-hover:scale-110 group-hover:brightness-110 duration-700 ease-in-out"
                />
              </div>
            </a>
          </li>
        ))
      }
    </ul>
  </section>
</BaseLayout>
