---
import BaseLayout from "../../layouts/BaseLayout.astro";
import HeaderScreen from "../../components/astro/HeaderScreen.astro";
import CTADiscoveryFlights from "../../components/astro/CTADiscoveryFlights.astro";
import { FaCheck } from "react-icons/fa";
import { FaPlane } from "react-icons/fa";
import { ALTO_2A as imgCTA } from "../../constsImages";
import {
  USATS_BASE_COVER as imgHeader,
  ALTO_4A as imgCard1,
} from "../../constsImages";

import testingCenterFAACats from "../../data/services/testingCenterFAACats";
import { COMPANY_NAME, COMPANY_NICKNAME } from "../../consts";

import ImageComp from "../../components/ImageComp.astro";
import UnderHeader from "../../components/astro/UnderHeader.astro";

const data = {
  data: {
    title: `FAA CATS Testing Center | ${COMPANY_NICKNAME}`,
    paragraph:
      "Our center offers a professional environment with modern computer workstations and secure internet access. Our dedicated staff ensures a secure and distraction-free testing experience.",
    pageKeywords:
      "flight school Titusville, pilot training Florida, helicopter school FL, airplane training USATS, learn to fly Titusville, FAA pilot certification, USATS aviation, Brevard County flight school, Space Coast pilot training, Part 141 flight training, international student pilot program, aviation career Florida, discovery flights Titusville, Florida flight instruction",

    header: {
      stars: true,
      imagePath: imgHeader.imagePath,
      imageAlt: imgHeader.imageAlt,
      headerH1: `${COMPANY_NICKNAME} <br> FAA Cats Testing Center`,
      paragraph: ``,
      buttons: [
        {
          name: "Learn more",
          link: "#cats-testing-center",
          primary: true,
        },
      ],
    },

    schedule: {
      title: "How to Schedule Your Test Here",
      heather2: "FAA CATS Testing Center",
      description: [
        "Our center offers a professional environment with modern computer workstations and secure internet access. Our dedicated staff ensures a secure and distraction-free testing experience.",
      ],
      loginLink: "https://faa.psiexams.com/faa/login ",
      list: [
        `<a href="https://faa.psiexams.com/faa/login" target="_blank">Log-in in : <br> https://faa.psiexams.com/faa/login </a>`,
        "Select the exam you would like to take",
        "Enter our zipcode 32780",
        "Select the option",
      ],
      location: `US Aviation Jet Center (US Aviation Training Solutions) <br> 355 Golden Knights Blvd <br> Titusville, FL, 32780`,
      buttons: [
        {
          name: "Directions",
          link: "https://www.google.com/maps/place/Space+Coast+Regional+Airport/@28.5114085,-80.8059907,14.85z/data=!4m14!1m7!3m6!1s0x88e0ad45bfc65527:0x83a84771beabce22!2sUS+Aviation+Jet+Center!8m2!3d28.5108366!4d-80.7935879!16s%2Fg%2F11fp5g3c02!3m5!1s0x88e0ad2310d73cfb:0x4bcd770a5e53125e!8m2!3d28.5133625!4d-80.7988013!16zL20vMDNmZnAy?entry=ttu&g_ep=EgoyMDI1MDQyOS4wIKXMDSoASAFQAw%3D%3D",
          primary: true,
        },
      ],
    },

    underHeader: {
      title: "YOUR CATS TEST at USATS",
      paragraphs: [
        "Here at USATS we make sure you have all you need to make it.",
      ],
      image: {
        imagePath: "/src/assets/ALTO_NG.webp",
        imageAlt: "AirPlane Panel",
      },
      buttons: [],
    },
  },
};
const CTAFlight = {
  imagePath: imgCTA.imagePath,
  imageAlt: imgCTA.imageAlt,
  headerH1: `Still have questions?`,
  paragraph: ``,
  buttons: [
    {
      name: "Contact us",
      link: "/contact-us",
      primary: true,
    },
  ],
};

const catsTestingCenterImg = {
  imagePath: "/src/assets/programmer-focused-on-code.webp",
  imageAlt: "",
};
---

<BaseLayout
  siteTitle={data.data.title}
  siteDescription={data.data.paragraph}
  keywords={data.data.pageKeywords}
>
  <HeaderScreen content={data.data.header} />

  <UnderHeader content={testingCenterFAACats.data.underHeader} />

  <section id="cats-testing-center">
    <div
      class="relative isolate overflow-hidden bg-gradient-to-b from-primary-950 to-primary-800 px-6 pt-24 pb-8 sm:pt-32 lg:overflow-visible lg:px-0"
    >
      <!-- Header -->
      <div class="mx-auto max-w-6xl lg:pr-4 md:px-10 lg:px-20">
        <div class="my-9">
          <p
            class="text-base font-semibold leading-7 text-accent-700 uppercase"
          >
            {testingCenterFAACats.data.schedule.heather2}
          </p>
          <h1
            class="mt-0 text-3xl font-bold tracking-tight text-muted-400 sm:text-4xl"
          >
            {testingCenterFAACats.data.schedule.title}
          </h1>
          <p
            class="mt-6 text-xl leading-8 text-muted-200"
            set:html={testingCenterFAACats.data.schedule.description}
          />
        </div>
      </div>
      <div class="absolute inset-0 -z-10 overflow-hidden">
        <svg
          class="absolute left-[max(50%,25rem)] top-0 h-[64rem] w-[128rem] -translate-x-1/2 stroke-black [mask-image:radial-gradient(64rem_64rem_at_top,white,transparent)]"
          aria-hidden="true"
        >
          <defs>
            <pattern
              id="e813992c-7d03-4cc4-a2bd-151760b470a0"
              width="200"
              height="200"
              x="50%"
              y="-1"
              patternUnits="userSpaceOnUse"
            >
              <path d="M100 200V.5M.5 .5H200" fill="none"></path>
            </pattern>
          </defs>
          <svg x="50%" y="-1" class="overflow-visible fill-primary-950">
            <path
              d="M-100.5 0h201v201h-201Z M699.5 0h201v201h-201Z M499.5 400h201v201h-201Z M-300.5 600h201v201h-201Z"
              stroke-width="0"></path>
          </svg>
          <rect
            width="100%"
            height="100%"
            stroke-width="0"
            fill="url(#e813992c-7d03-4cc4-a2bd-151760b470a0)"></rect>
        </svg>
      </div>
      <!-- Content -->
      <div class="mt-12 flex justify-center align-middle">
        <ul
          role="list"
          class="flex flex-wrap justify-center max-w-4xl divide-y-2"
        >
          <li
            class="group py-5 flex flex-wrap justify-center align-middle items-center"
          >
            <div
              class="mx-auto w-full rounded-xl overflow-hidden h-96 md:w-1/3 ring-primary-50 group-hover:ring-2 group-hover:shadow-lg duration-200 ease-in-out"
            >
              <ImageComp
                imagePath={catsTestingCenterImg.imagePath}
                imageAlt={catsTestingCenterImg.imageAlt}
                styles="h-full object-cover group-hover:scale-110 group-hover:shadow-lg group-hover:brightness-110 duration-300 ease-in-out"
                quality={80}
                loading="lazy"
                ,
              />
            </div>
            <div class="w-full md:w-1/2">
              <ol class="space-y-3 py-3">
                {
                  testingCenterFAACats.data.schedule.list.map((point) => (
                    <li
                      class="flex text-lg items-center bg-accent-50/70 p-3 rounded-md shadow-sm hover:scale-105 hover:shadow-md transition-all duration-300"
                      set:html={point}
                    >
                      <FaPlane className="text-accent-600 mr-2 w-4 flex-shrink-0" />{" "}
                    </li>
                  ))
                }
              </ol>
              <p
                class="text-muted-200 py-3"
                set:html={testingCenterFAACats.data.schedule.location}
              />
              <div class="flex">
                <a
                  target="_blank"
                  href="https://www.google.com/maps/place/US+Aviation+Jet+Center/@28.5099899,-80.7956252,17z/data=!3m1!4b1!4m6!3m5!1s0x88e0ad45bfc65527:0x83a84771beabce22!8m2!3d28.5099899!4d-80.7934365!16s%2Fg%2F11fp5g3c02?entry=ttu"
                  class="text-base/7 font-semibold text-accent-600"
                >
                  Directions <span aria-hidden="true">&rarr;</span></a
                >
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <CTADiscoveryFlights content={CTAFlight} />
</BaseLayout>
