---
import BaseLayout from "../../layouts/BaseLayout.astro";
import HeaderScreen from "../../components/astro/HeaderScreen.astro";
import ProgramDetails from "../../components/layouts/ProgramDetails.astro";
import taaTimeBuilding from "../../data/services/taaTimeBuilding";
import Table from "../../components/astro/Table.astro";
import CTADiscoveryFlights from "../../components/astro/CTADiscoveryFlights.astro";
import { CTADISC_FLIGHTS as imgCTA } from "../../constsImages";

const { data } = taaTimeBuilding;
const contentCTA = {
  imagePath: imgCTA.imagePath,
  imageAlt: imgCTA.imageAlt,
  headerH1: `Build TAA Flight Time <br><span class="text-accent-700">now</span>`,
  paragraph: "Gain valuable Technically Advanced Aircraft (TAA) flight hours with USATS. Our modern fleet and experienced instructors will help you meet your TAA time building requirements efficiently. Fly over <strong>Florida’s beautiful Space Coast</strong> and advance your aviation career. Connect with our team to get started.",
  buttons: [
    {
      name: "Contact Us",
      link: "/contact-us",
      primary: true,
    },
  ],
};
---

<BaseLayout
  siteTitle={data.pageTitle}
  siteDescription={data.pageDescription}
  keywords={data.pageKeywords}
>
  <HeaderScreen content={data.header} />
  <ProgramDetails program={taaTimeBuilding.data.details} />
  <Table />
  <CTADiscoveryFlights content={contentCTA} />
</BaseLayout>
