---
import ImageComp from "../ImageComp.astro";

const { content } = Astro.props;
---

<section class="grid grid-cols-1 lg:grid-cols-2 lg:py-12 bg-primary-900">
  <div
    class={`${content.reverse ? "lg:order-last" : "lg:order-first"} group relative aspect-square bg-black overflow-hidden lg:rounded-lg`}
  >
    <ImageComp
      imagePath={content.imagePath}
      imageAlt={content.imageAlt}
      styles="object-cover w-full h-full"
      quality={100}
    />
  </div>

  <div
    class="px-4 flex justify-center items-center align-middle lg:px-12 pb-6 lg:py-0"
  >
    <div>
      {
        content.upperHeading && (
          <h3 class="mx-auto mt-12 uppercase text-lg lg:text-xl font-sans font-bold tracking-tight text-accent-700">
            {content.upperHeading}
          </h3>
        )
      }
      {
        content.heading && (
          <h2 class="mx-auto mb-8 text-3xl lg:text-5xl font-sans font-bold tracking-tight text-primary-400">
            {content.heading}
          </h2>
        )
      }
      {
        content.descriptions &&
          content.descriptions.map((p) => (
            <p
              class="mx-auto mb-4 text-base tracking-loose leading-relaxed text-muted-200"
              set:html={p}
            />
          ))
      }
      {
        content.bullets && (
          <div class="mt-6 flex justify-center align-middle items-center">
            <ul
              role="list"
              class="space-y-5 text-gray-600 mx-3 bg-gray-100 ring-1 ring-gray-300 py-9 px-6 rounded-lg"
            >
              {content.bullets.map((bullet) => (
                <li class="flex gap-x-3 text-accent-400">
                  <svg
                    class="mt-1 size-8 flex-none text-accent"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    aria-hidden="true"
                  >
                    <path
                      fill-rule="evenodd"
                      d={bullet.icon}
                      clip-rule="evenodd"
                    />
                  </svg>
                  <span class="leading-snug">
                    <strong class="font-bold text-muted-900 tracking-tight uppercase">
                      {bullet.title}
                    </strong>{" "}
                    {bullet.descriptions.map((dec) => (
                      <p class="mb-2 text-primary-700" set:html={dec} />
                    ))}
                  </span>
                </li>
              ))}
            </ul>
          </div>
        )
      }
      {
        content.buttons && (
          <div class="mt-12 mb-6 gap-3 flex flex-wrap justify-center lg:justify-start align-middle items-center">
            {content.buttons.map((btn) => (
              <a
                href={btn.link}
                class={`${btn.primary ? "btn-accent" : "btn-primary"} w-full md:w-auto`}
              >
                {btn.name}
              </a>
            ))}
          </div>
        )
      }
    </div>
  </div>
</section>