---
import { FaFacebookSquare } from "react-icons/fa";
import { FaInstagramSquare } from "react-icons/fa";
import { FaLinkedin } from "react-icons/fa";
import { FaSquareXTwitter } from "react-icons/fa6";
import { FaSquareGithub } from "react-icons/fa6";
import { FaExternalLinkSquareAlt } from "react-icons/fa";

import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

const { name, imagePath, imageAlt, rank, social, awards } = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/*.{jpeg,jpg,png,gif,webp}"
);
if (!images[imagePath])
  throw new Error(
    `"${imagePath}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif}"`
  );
---

<li class="group max-w-56 relative">
  {
    awards && (
      <div
        class="absolute top-0 size-16 z-10"
        aria-label="Awards"
        title="Flight Experience Award"
      >
        <img
          src=""
          alt=""
          class="object-contain w-full h-full group-hover:scale-125 duration-200 ease-in-out"
        />
      </div>
    )
  }
  <div
    class="mx-auto rounded-full overflow-hidden h-56 w-56 ring-accent-800 group-hover:ring-2 group-hover:shadow-lg duration-200 ease-in-out"
  >
    <Image
      src={images[imagePath]()}
      alt={imageAlt}
      class="w-full h-full object-cover object-top group-hover:scale-110 group-hover:shadow-lg group-hover:brightness-110 duration-300 ease-in-out"
      quality={80}
    />
  </div>
  <h3
    class="mt-6 mb-0 text-center text-2xl group-hover:text-primary-dark group-hover:scale-110 font-bold tracking-tight text-muted-600 duration-300 ease-in-out"
  >
    {name}
  </h3>
  <p
    class="text-lg mt-0 text-center leading-6 font-sans text-primary-300 group-hover:text-accent-700 duration-200 delay-100 ease-in-out"
    set:html={rank}
  />
  {
    social && (
      <div class="mt-2 flex justify-center align-middle gap-1">
        {social.map((scl) => (
          <a
            href={scl.url}
            class="text-primary-dark hover:scale-125 hover:text-primary-700 duration-75"
            aria-label={scl.name}
            target="_blank"
          >
            {scl.platform === "facebook" && (
              <FaFacebookSquare className="size-5" />
            )}
            {scl.platform === "instagram" && (
              <FaInstagramSquare className="size-5" />
            )}
            {scl.platform === "linkedin" && <FaLinkedin className="size-5" />}
            {scl.platform === "twitter" && (
              <FaSquareXTwitter className="size-5" />
            )}
            {scl.platform === "github" && <FaSquareGithub className="size-5" />}
            {scl.platform === "website" && (
              <FaExternalLinkSquareAlt className="size-5" />
            )}
          </a>
        ))}
      </div>
    )
  }
</li>