---
const { data } = Astro.props;
import CardMaintenance from "../astro/CardMaintenance.astro"
import ImageComp from "../ImageComp.astro";
import MaintenanceParts from "./MaintenanceParts.astro";

---

<!-- <section class="bg-primary-950 py-8 lg:py-16 px-20">
    <div class="text-center mb-12">
            <p class="mx-auto mt-12 uppercase text-lg lg:text-xl font-sans font-bold tracking-tight text-primary-600">
              {data.heather2}
            </p>
            <h2 class="mx-auto mb-3 font-sans2 text-3xl lg:text-5xl text-center font-bold tracking-tight text-primary-200">
              {data.title}
            </h2>
            <p
              class="mx-auto mb-12 text-lg max-w-3xl text-center tracking-wide text-muted-100"
              set:html={data.description}
            />
      </div>
</section> -->

<!-- 145 Maintenance Capabilities -->
<section id="145-maintenance-capabilities">
    <div class="relative isolate overflow-hidden bg-gradient-to-b from-primary-950 to-primary-800 px-6 pt-24 pb-8 sm:pt-32 lg:overflow-visible lg:px-0" >
        <div class="mx-auto max-w-6xl lg:pr-4 md:px-10 lg:px-20">
          <div class="my-9">
            <p class="text-base font-semibold leading-7 text-accent-700 uppercase">
              {data.heather2}
            </p>
            <h2
              class="mt-0 text-3xl font-bold tracking-tight text-muted-400 sm:text-4xl"
            >
              {data.title}
            </h2>
            <p
              class="mt-6 text-xl leading-8 text-muted-200"
              set:html={data.description}
            />
          </div>
        </div>
        <div class="absolute inset-0 -z-10 overflow-hidden">
          <svg
            class="absolute left-[max(50%,25rem)] top-0 h-[64rem] w-[128rem] -translate-x-1/2 stroke-black [mask-image:radial-gradient(64rem_64rem_at_top,white,transparent)]"
            aria-hidden="true"
          >
            <defs>
              <pattern
                id="e813992c-7d03-4cc4-a2bd-151760b470a0"
                width="200"
                height="200"
                x="50%"
                y="-1"
                patternUnits="userSpaceOnUse"
              >
                <path d="M100 200V.5M.5 .5H200" fill="none"></path>
              </pattern>
            </defs>
            <svg x="50%" y="-1" class="overflow-visible fill-primary-950">
              <path
                d="M-100.5 0h201v201h-201Z M699.5 0h201v201h-201Z M499.5 400h201v201h-201Z M-300.5 600h201v201h-201Z"
                stroke-width="0"></path>
            </svg>
            <rect
              width="100%"
              height="100%"
              stroke-width="0"
              fill="url(#e813992c-7d03-4cc4-a2bd-151760b470a0)"></rect>
          </svg>
        </div>
        <div class="mt-12 flex justify-center align-middle">
          <ul role="list" class="flex flex-wrap justify-center max-w-4xl divide-y-2">
            {
              data.airframes.map((airframe) => (
                <CardMaintenance
                  name={airframe.name}
                  imagePath={airframe.imagePath}
                  imageAlt={airframe.imageAlt}
                  models={airframe.models}
                  description={airframe.description}
                  bullets={airframe.bullets}
                  buttons={airframe.buttons}
                />
              ))
            }
          </ul>
        </div>
        <div class="mt-12 flex justify-center align-middle">
            <ul role="list" class="flex flex-wrap justify-center max-w-4xl divide-y-2">
              <!--  Two cards side by side - Engines & Part Sales -->
                <MaintenanceParts partSales={data.partSales} engine={data.engines} />
            </ul>
        </div>
      </div>      
</section>

<!-- Robinson Service Center -->
<section id="robinson-service-center">
  <div class="relative isolate overflow-hidden bg-gradient-to-b from-primary-950 to-primary-800 px-6 pt-24 pb-8 sm:pt-32 lg:overflow-visible lg:px-0" >
    <div class="mx-auto max-w-6xl lg:pr-4 md:px-10 lg:px-20">
      <div class="my-9">
        <p class="text-base font-semibold leading-7 text-accent-700 uppercase">
          {data.robinson_service_center.models}
        </p>
        <h2
          class="mt-0 text-3xl font-bold tracking-tight text-muted-400 sm:text-4xl"
        >
          {data.robinson_service_center.name}
        </h2>
        <p
          class="mt-6 text-xl leading-8 text-muted-200"
          set:html={data.robinson_service_center.description}
        />
      </div>
    </div>
    <div class="group mt-12 flex justify-center align-middle">
      <ul role="list" class="flex flex-wrap justify-center max-w-4xl divide-y-2">
        <!--  Two cards side by side - Engines & Part Sales -->
        <div class="">
          <div class="mx-auto max-w-7xl px-6 lg:px-8">
              <div class="mx-auto grid max-w-md grid-cols-1 gap-8 lg:max-w-4xl lg:grid-cols-2">
              <!-- image -->
                <div class="mx-auto w-full rounded-xl overflow-hidden  md:w-full ring-accent-800 group-hover:ring-2 group-hover:shadow-lg duration-200 ease-in-out" >
                  <ImageComp
                    imagePath="/src/assets/USATS_S300_on_Taxiway_Alpha.webp"
                    imageAlt=""
                    styles="h-full object-cover group-hover:scale-110 group-hover:shadow-lg group-hover:brightness-110 duration-300 ease-in-out"
                    quality={80}
                    loading="lazy"
                  />
                </div>
              
              
              <!-- Robinson Card  -->
              {data.robinson_service_center.benefits && <div class="flex flex-col justify-between rounded-3xl bg-primary-900 p-8 shadow-xl ring-1 ring-accent-900/60 sm:p-10">
                <div>
                  <ul role="list" class="mt-10 space-y-4 text-sm/6 text-muted-200 group-hover:scale-110 group-hover:shadow-lg group-hover:brightness-110 duration-500 ease-in-out">
                      {data.robinson_service_center.benefits && data.robinson_service_center.benefits.map(( bullet )=> (
                          <li class="flex gap-x-3">
                              <svg class="h-6 w-5 flex-none text-accent-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                                  <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
                              </svg>
                              {bullet}
                          </li>
                        ))
                      }
                  </ul>
                </div>}
                <!-- <a href="#" aria-describedby="tier-hobby" class="mt-8 block rounded-md bg-accent-600 px-3.5 py-2 text-center text-sm/6 font-semibold text-white shadow-xs hover:bg-accent-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-accent-600">Get started today</a> -->
              </div>
              <div class="flex flex-col items-start gap-x-8 gap-y-6 rounded-3xl p-8 ring-1 ring-gray-900/10 sm:gap-y-10 sm:p-10 lg:col-span-2 lg:flex-row lg:items-center">
                <div class="lg:min-w-0 lg:flex-1">
                <h3 class="text-base/7 font-semibold text-accent-600">Still have questions? Contact-us!</h3>
                <p class="mt-1 text-base/7 text-muted-200">Give us a call</p>
                </div>
                <a href="/maintenance-contact" class="rounded-md px-3.5 py-2 text-sm/6 font-semibold text-accent-600 ring-1 ring-muted-200 ring-inset hover:ring-muted-300 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-accent-600"> Contact-us <span aria-hidden="true">&rarr;</span></a>
              </div>
            </div>
        </div>
        </div>
      </ul>
    </div>
    <!-- Background Pattern -->
    <div class="absolute inset-0 -z-10 overflow-hidden">
      <svg
        class="absolute left-[max(50%,25rem)] top-0 h-[64rem] w-[128rem] -translate-x-1/2 stroke-black [mask-image:radial-gradient(64rem_64rem_at_top,white,transparent)]"
        aria-hidden="true"
      >
        <defs>
          <pattern
            id="e813992c-7d03-4cc4-a2bd-151760b470a0"
            width="200"
            height="200"
            x="50%"
            y="-1"
            patternUnits="userSpaceOnUse"
          >
            <path d="M100 200V.5M.5 .5H200" fill="none"></path>
          </pattern>
        </defs>
        <svg x="50%" y="-1" class="overflow-visible fill-primary-950">
          <path
            d="M-100.5 0h201v201h-201Z M699.5 0h201v201h-201Z M499.5 400h201v201h-201Z M-300.5 600h201v201h-201Z"
            stroke-width="0"></path>
        </svg>
        <rect
          width="100%"
          height="100%"
          stroke-width="0"
          fill="url(#e813992c-7d03-4cc4-a2bd-151760b470a0)"></rect>
      </svg>
    </div>
  </div>
</section>

<!-- Part 43 Maintenance -->
<section id="part-43-maintenance">
  <div class="relative isolate overflow-hidden bg-gradient-to-b from-primary-950 to-primary-800 px-6 pt-24 pb-8 sm:pt-32 lg:overflow-visible lg:px-0" >
    <div class="mx-auto max-w-6xl lg:pr-4 md:px-10 lg:px-20">
      <div class="my-9">
        <p class="text-base font-semibold leading-7 text-accent-700 uppercase">
          {data.part_43_maintenance.description}
        </p>
        <h2
          class="mt-0 text-3xl font-bold tracking-tight text-muted-400 sm:text-4xl"
        >
          {data.part_43_maintenance.name}
        </h2>
        {
          data.part_43_maintenance.paragraphs.map((paragraph) => (
            <p
              class="mt-6 text-xl leading-8 text-muted-200"
              set:html={paragraph}
            />
          ))
        }
      </div>
    </div>

    <div class="group mt-12 flex justify-center align-middle">
      <ul role="list" class="flex flex-wrap justify-center max-w-4xl divide-y-2">
        <!--  Two cards side by side - Engines & Part Sales -->
        <div class="">
          <div class="mx-auto max-w-7xl px-6 lg:px-8">
            <div class="pb-10">
              <h3 id="tier-hobby" class="text-3xl font-semibold text-accent-600">{data.part_43_maintenance.services.name}</h3>
              <p class="mt-6 text-base/7 text-muted-200">{data.part_43_maintenance.services.description}</p>
            </div>
              
            <div class="mx-auto grid max-w-md grid-cols-1 gap-8 lg:max-w-4xl lg:grid-cols-2">
              <!-- Current Serviced Aircrafts Card  -->
              <div class="flex flex-col justify-between rounded-3xl bg-primary-900 p-8 shadow-xl ring-1 ring-accent-900/60 sm:p-10">
                <div>
                  <h3 id="tier-hobby" class="text-base/7 font-semibold text-accent-600">{data.part_43_maintenance.current_serviced_aircraft.name}</h3>
                  <ul role="list" class="mt-10 space-y-4 text-sm/6 text-muted-200 group-hover:scale-110 group-hover:shadow-lg group-hover:brightness-110 duration-500 ease-in-out">
                      {data.part_43_maintenance.current_serviced_aircraft.models && data.part_43_maintenance.current_serviced_aircraft.models.map(( bullet )=> (
                          <li class="flex gap-x-3">
                              <svg class="h-6 w-5 flex-none text-accent-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                                  <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
                              </svg>
                              {bullet}
                          </li>
                        ))
                      }
                  </ul>
                </div>
                <!-- <a href="#" aria-describedby="tier-hobby" class="mt-8 block rounded-md bg-accent-600 px-3.5 py-2 text-center text-sm/6 font-semibold text-white shadow-xs hover:bg-accent-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-accent-600">Get started today</a> -->
              </div>
              
              
              <!-- Services Card  -->
              <div class="flex flex-col justify-between rounded-3xl bg-primary-900 p-8 shadow-xl ring-1 ring-accent-900/60 sm:p-10">
                <div>
                  <h3 id="tier-hobby" class="text-base/7 font-semibold text-accent-600">{data.part_43_maintenance.services.name}</h3>
                  <ul role="list" class="mt-10 space-y-4 text-sm/6 text-muted-200 group-hover:scale-110 group-hover:shadow-lg group-hover:brightness-110 duration-500 ease-in-out">
                      {data.part_43_maintenance.services.generalServices && data.part_43_maintenance.services.generalServices.map(( bullet )=> (
                          <li class="flex gap-x-3">
                              <svg class="h-6 w-5 flex-none text-accent-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                                  <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
                              </svg>
                              {bullet}
                          </li>
                        ))
                      }
                  </ul>
                </div>
                <!-- <a href="#" aria-describedby="tier-hobby" class="mt-8 block rounded-md bg-accent-600 px-3.5 py-2 text-center text-sm/6 font-semibold text-white shadow-xs hover:bg-accent-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-accent-600">Get started today</a> -->
              </div>
              <div class="flex flex-col items-start gap-x-8 gap-y-6 rounded-3xl p-8 ring-1 ring-gray-900/10 sm:gap-y-10 sm:p-10 lg:col-span-2 lg:flex-row lg:items-center">
                <div class="lg:min-w-0 lg:flex-1">
                <h3 class="text-base/7 font-semibold text-accent-600">Still have questions? Contact-us!</h3>
                <p class="mt-1 text-base/7 text-muted-200">Give us a call</p>
                </div>
                <a href="/maintenance-contact" class="rounded-md px-3.5 py-2 text-sm/6 font-semibold text-accent-600 ring-1 ring-muted-200 ring-inset hover:ring-muted-300 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-accent-600"> Contact-us <span aria-hidden="true">&rarr;</span></a>
              </div>
            </div>
        </div>
        </div>
      </ul>
    </div>
    <!-- Background Pattern -->
    <div class="absolute inset-0 -z-10 overflow-hidden">
      <svg
        class="absolute left-[max(50%,25rem)] top-0 h-[64rem] w-[128rem] -translate-x-1/2 stroke-black [mask-image:radial-gradient(64rem_64rem_at_top,white,transparent)]"
        aria-hidden="true"
      >
        <defs>
          <pattern
            id="e813992c-7d03-4cc4-a2bd-151760b470a0"
            width="200"
            height="200"
            x="50%"
            y="-1"
            patternUnits="userSpaceOnUse"
          >
            <path d="M100 200V.5M.5 .5H200" fill="none"></path>
          </pattern>
        </defs>
        <svg x="50%" y="-1" class="overflow-visible fill-primary-950">
          <path
            d="M-100.5 0h201v201h-201Z M699.5 0h201v201h-201Z M499.5 400h201v201h-201Z M-300.5 600h201v201h-201Z"
            stroke-width="0"></path>
        </svg>
        <rect
          width="100%"
          height="100%"
          stroke-width="0"
          fill="url(#e813992c-7d03-4cc4-a2bd-151760b470a0)"></rect>
      </svg>
    </div>
  </div>
</section>

