---
const {
  name,
  rentalPrice,
  imagePath,
  slug,
  model,
  hasRibbon,
  ribbonTitle,
  specialUrl,
} = Astro.props;
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";
const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/*.{jpeg,jpg,png,gif,webp,JPEG}"
);
if (!images[imagePath]) {
  throw new Error(
    `"${imagePath}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif,webp}"`
  );
}
---

<!-- <a
  href={`/about-us/our-fleet/${slug}`}
  class="flex cursor-pointer flex-col bg-accent-800 group relative overflow-hidden scroll-my-20 hover:ring-1 hover:ring-muted-500 duration-200"
  id={name}
> -->
<a
  href="#airplane-fleet"
  class="flex cursor-pointer flex-col bg-accent-800 group relative overflow-hidden scroll-my-20 hover:ring-1 hover:ring-muted-500 duration-200"
  id={name}
>
  <div
    class="absolute z-10 bg-gradient-to-t group-hover:from-black/90 group-hover:to-black/30 from-black/90 to-black/10 inset-0 w-full h-full transition-colors duration-1000 ease-in-out"
  >
  </div>
  {
    ribbonTitle && (
      <div class="absolute right-[-24px] 2xl:right-[-21px] rtl:right-auto rtl:left-[-8px] rtl:2xl:left-[-0px] top-[-5px] 2xl:top-[0px] z-[1] h-[200px] w-[200px] overflow-hidden text-right">
        <span class="absolute top-[45px] right-[-21px] rtl:right-auto rtl:left-[-21px] block w-full rotate-45 rtl:-rotate-45 bg-medium-blue text-center text-[10px] font-bold uppercase leading-5 text-muted-100 shadow-[0_3px_10px_-5px_rgba(0,0,0,0.3)] before:absolute before:left-0 before:top-full before:z-[-1] before:border-[3px] before:border-r-transparent before:border-b-transparent before:border-l-green-800 before:border-t-green-800 before:content-[''] after:absolute after:right-0 after:top-full after:z-[-1] after:border-[3px] after:border-l-transparent after:border-b-transparent after:border-r-green-800 after:border-t-green-800 after:content-['']">
          {ribbonTitle}
        </span>
      </div>
    )
  }
  <Image
    src={images[imagePath]()}
    alt={name}
    class="h-full object-cover group-hover:scale-110 delay-100 duration-500 ease-in-out -z-0"
    widths={[240, 540, 720, 1080, 1440, 1980]}
    sizes={`(max-width: 240px) 240px, (max-width: 540px) 540px, (max-width: 720px) 720px, (max-width: 1080px) 1080px, (max-width: 1440px) 1440px, 1920px`}
  />
  <div
    class="py-2 px-4 lg:py-6 lg:px-10 z-10 absolute bottom-0 left-0 bg-dark-blue/80 w-4/5"
  >
    <h3
      class="text-muted-100 translate-y-3 group-hover:translate-y-0 group-hover:text-muted-200 text-2xl sm:text-3xl group-hover:lg:text-4xl font-bold lg:mb-3 duration-300 uppercase"
    >
      {name}
    </h3>
    <div class="flex flex-col gap-0 sm:flex-row sm:gap-5">
      <!-- <div class="flex gap-2 text-sm sm:text-base">
        <p class="text-white/90 font-bold">Model:</p>
        <p class="text-muted-200">{model}</p>
      </div> -->
      {
        rentalPrice && (
          <div class="flex gap-2 text-sm sm:text-base">
            <p class="text-white/90 font-bold">Airships:</p>
            <p class="text-primary-100">{rentalPrice}</p>
          </div>
        )
      }
    </div>
  </div>
</a>
