---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

const {
  title,
  imagePath,
  imageAlt,
  link,
  linkText = "Explore",
  description,
} = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/*.{jpeg,jpg,png,gif,webp}"
);
if (!images[imagePath])
  throw new Error(
    `"${imagePath}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif,webp}"`
  );
---

<div class="flex flex-col w-full md:w-[45%] lg:w-[40%] bg-black group relative overflow-hidden rounded-sm" data-aos="fade-up-right"
>
  <div
    class="w-full h-[27rem] overflow-hidden flex flex-col justify-center items-center align-middle"
  >
    <p
      class="z-10 w-full px-6 text-4xl font-sans2 font-semibold lg:translate-y-12 drop-shadow-md text-center leading-7 text-primary-100 group-hover:text-accent-200 group-hover:-translate-y-3 duration-300 ease-in-out"
      set:html={title}
    />
    {
      description && (
        <p
          class="z-10 text-primary-100 mt-3 lg:mt-0 px-8 w-full lg:leading-3 lg:translate-y-10 font-semibold text-lg lg:opacity-0 text-center leading-tight group-hover:opacity-95 group-hover:-translate-y-1 group-hover:leading-tight duration-500 ease-out"
          set:html={description}
        />
      )
    }
    <Image
      src={images[imagePath]()}
      alt={imageAlt}
      class="absolute -z-0 h-full w-full object-cover object-top group-hover:blur-sm group-hover:-translate-y-3 group-hover:scale-105 duration-100 ease-out"
      quality={60}
      widths={[240, 540, 720, 1080, 1440, 1980]}
      sizes={`(max-width: 240px) 240px, (max-width: 540px) 540px, (max-width: 720px) 720px, (max-width: 1080px) 1080px, (max-width: 1440px) 1440px, 1920px`}
    />
    <div
      class="absolute z-0 w-full h-full bg-primary-900/70 lg:bg-primary-900/50 group-hover:bg-primary-900/50 duration-500"
    >
    </div>
  </div>
  <a
    href={link}
    target="_self"
    class="absolute btn-animate bottom-0 w-full h-16 bg-primary-700 hover:bg-primary-800 lg:opacity-50 lg:translate-y-[101%] group-hover:brightness-125 group-hover:opacity-100 group-hover:translate-y-0 duration-300 text-accent-100 hover:text-primary-50"
  >
    <div class="flex h-full w-full justify-center align-middle items-center">
      <p
        class="relative block z-10 text-center text-lg tracking-wide font-bold leading-loose uppercase drop-shadow-sm"
      >
        {linkText}
      </p>
    </div>
  </a>
</div>