---
import ImageComp from "../ImageComp.astro";

const {
  title,
  imagePath,
  imageAlt,
  link,
  linkText = "Explore",
  description,
} = Astro.props;

---

<div class="flex flex-col bg-white group relative overflow-hidden rounded-sm">
  <div
    class="w-full h-[27rem]  flex flex-col justify-center items-center align-middle"
  >
    <p
      class="z-10 w-full px-6 text-3xl font-bold lg:translate-y-12 drop-shadow-md text-center leading-7 text-accent-700 lg:text-accent-100 group-hover:text-accent-200 group-hover:-translate-y-3 duration-300 ease-in-out"
      set:html={title}
    />
    {
      description && (
        <p
          class="z-10 mt-3 lg:mt-0 px-8 w-full lg:leading-3 lg:translate-y-10 font-sans2 font-normal text-lg lg:opacity-0 text-center leading-tight text-primary-100 group-hover:opacity-95 group-hover:-translate-y-1 group-hover:leading-tight duration-500 ease-out"
          set:html={description}
        />
      )
    }
    <ImageComp
      style="absolute -z-0 h-full w-full object-cover object-center group-hover:blur-sm group-hover:-translate-y-3 group-hover:scale-105 duration-300 ease-out"
      imagePath={imagePath}
      imageAlt={imageAlt}
      loading={"lazy"}
    />
    <div
      class="absolute z-0 w-full h-full bg-black/70 lg:bg-black/40 group-hover:bg-black/80 duration-500"
    >
    </div>
  </div>
  <a
    href={link}
    target="_self"
    class="absolute btn-animate bottom-0 w-full h-16 bg-muted-800 lg:opacity-50 lg:translate-y-[101%] group-hover:brightness-125 group-hover:opacity-100 group-hover:translate-y-0 duration-300 text-primary-950 hover:text-primary-50"
  >
    <div class="flex h-full w-full justify-center align-middle items-center">
      <p
        class="relative block z-10 text-center text-lg tracking-wide font-bold leading-loose uppercase drop-shadow-sm text-white"
      >
        {linkText}
      </p>
    </div>
  </a>
</div>