---
import ProgramCard from "../../components/astro/ProgramCard.astro";

const { content } = Astro.props;
---

<section id="grid-programs" class="bg-black py-8 lg:py-16">
  <div class="mx-auto max-w-9xl px-6 lg:px-8">
    <div class="text-center mb-12">
      {
        content.upperHeading && (
          <p class="mx-auto mt-12 uppercase text-lg lg:text-xl font-sans font-bold tracking-tight text-primary-600">
            {content.upperHeading}
          </p>
        )
      }
      {
        content.heading && (
          <h2 class="mx-auto mb-3 font-sans2 text-3xl lg:text-5xl text-center font-bold tracking-tight text-primary-200">
            {content.heading}
          </h2>
        )
      }
      {
        content.description && (
          <p
            class="mx-auto mb-12 text-lg max-w-3xl text-center tracking-wide text-muted-100"
            set:html={content.description}
          />
        )
      }
    </div>
    <div class="mx-auto max-w-6xl">
      <ul role="list" class="flex flex-wrap justify-center gap-6">
        {
          content.cards.map((program) => (
            <ProgramCard
              title={program.title}
              badges={program.badges}
              imagePath={program.imagePath}
              imageAlt={program.imageAlt}
              link={program.link}
              linkText={program.linkText}
              description={program.description}
            />
          ))
        }
      </ul>
    </div>
        <div class="text-center pt-12">
      {
        content.descriptions && (
          <p
            class="mx-auto mb-12 text-lg max-w-3xl text-center tracking-wide text-muted-100"
            set:html={content.descriptions[0]}
          />
        )
      }
    </div>
  </div>
</section>