---
import BaseLayout from "../layouts/BaseLayout.astro";
import HeaderScreen from "../components/astro/HeaderScreen.astro";
import internationalStudentsPage from "../data/internationalStudentsPage";
import WhyUs from "../components/astro/WhyUs.astro";
import Testimonials from "../components/astro/Testimonials.astro";
import FreQuestions from "../components/astro/FreQuestions.astro";
import "/src/styles/global.css";
import UnderHeader from "../components/astro/UnderHeader.astro";
import CTADiscoveryFlight from "../components/astro/CTADiscoveryFlights.astro";
import programsSwiper from "../data/programsSwiper";
import GridPrograms from "../components/layouts/GridPrograms.astro";
import ContentCTA from "../components/astro/ContentCTA.astro";
import { CTADISC_FLIGHTS as imgCTA } from "../constsImages";
import { CORE_PROGRAM_KEYWORDS, GENERAL_AVIATION_KEYWORDS, KEYWORDS } from "../consts";

const { data } = internationalStudentsPage;

const CTAFlight = {
  imagePath: imgCTA.imagePath,
  imageAlt: imgCTA.imageAlt,
  headerH1: `Your Aviation Career </br><span class="text-accent-700">Starts Here</span>`,
  paragraph:
    "Looking to train in the U.S.? At USATS, international students gain world-class experience flying over <strong>Florida’s stunning Space Coast</strong>—a global aviation hub near rocket launches, pristine beaches, and diverse airspace. Connect with our team to explore your options, from visa support to housing assistance.",
  buttons: [
    {
      name: "Contact Us",
      link: "/contact-us",
      primary: true,
    },
  ],
};

const keywords = `${KEYWORDS}, ${CORE_PROGRAM_KEYWORDS}, ${GENERAL_AVIATION_KEYWORDS}`;
---

<BaseLayout
  siteTitle={data.pageTitle}
  siteDescription={data.pageDescription}
  keywords={keywords}>
  
  <!-- HEADER -->
  <HeaderScreen content={data.header} />
  <UnderHeader content={data.underHeader} />
  <WhyUs content={data.whyUs} />
  
  <GridPrograms content={programsSwiper} />

  <ContentCTA content={data.quizCTA} />
  <!-- <Testimonials content={data.testimonials} /> -->

  <FreQuestions content={data.frequentQuestions} />
  <CTADiscoveryFlight content={CTAFlight} />
</BaseLayout>
