---
import BaseLayout from "../../layouts/BaseLayout.astro";
import HeaderScreen from "../../components/astro/HeaderScreen.astro";
import CTADiscoveryFlights from "../../components/astro/CTADiscoveryFlights.astro";
import GridPrograms from "../../components/layouts/GridPrograms.astro";

import careers from "../../data/services/career";
import testingCenterFAACats from "../../data/services/testingCenterFAACats";
import { CAREER_PATH_KEYWORDS, COMPANY_NAME, CORE_PROGRAM_KEYWORDS, GENERAL_AVIATION_KEYWORDS, LOCATION_KEYWORDS } from "../../consts";
import { USATS_BASE_COVER as imgCTA } from "../../constsImages";

import UnderHeader from "../../components/astro/UnderHeader.astro";
import UnderHeaderTwo from "../../components/astro/UnderHeaderTwo.astro";

const { data } = careers;

const CTAFlight = {
    imagePath: imgCTA.imagePath,
    imageAlt: imgCTA.imageAlt,
    headerH1: `Want to know more about the company?`,
    paragraph:``,
    buttons: [
      {
        name: "Contact us",
        link: "/contact-us",
        primary: true,
      },
    ],
  };

const keywords = `${CAREER_PATH_KEYWORDS}, ${CORE_PROGRAM_KEYWORDS}, ${GENERAL_AVIATION_KEYWORDS}, ${LOCATION_KEYWORDS}, ${careers.pageKeywords}`;

---
<BaseLayout
  siteTitle={careers.title}
  siteDescription={careers.paragraph}
  keywords={keywords}>
  
  <HeaderScreen content = {careers.header} />

  <UnderHeader content = {careers.underHeader} />
  <UnderHeaderTwo content = {careers.underHeaderTwo} />
  
  
  <GridPrograms content={careers.gridPrograms} />

  <div class="flex-col justify-center items-center text-center gap-10 pb-20 bg-black">
    <p class="text-muted-400 pb-10 text-2xl  ">EMAIL US AT:</p>
    <a href="mailto:HR@usatsolutions.com" class="button btn-accent px-6 py-2 text-muted-100 ">HR@usatsolutions.com</a>
  </div>
  <CTADiscoveryFlights content = {CTAFlight} />
</BaseLayout>

