---
import BaseLayout from "../../layouts/BaseLayout.astro";
import HeaderScreen from "../../components/astro/HeaderScreen.astro";
import GridPrograms from "../../components/layouts/GridPrograms.astro";
import programs from "../../data/programs/programs.js";
import CTADiscoveryFlights from "../../components/astro/CTADiscoveryFlights.astro";
import CTAFlight from "../../data/ctaFlight.js";

import { ALTO_5A as imgHeader } from "../../constsImages";

const coursesIndex = {
  data: {
    // SEO Header Stuff
    pageTitle: "Training Courses | US Academy ",
    pageDescription:
    "Explore complete airplane pilot training programs at USATS in Titusville, FL. From Private to Commercial certificates and instructor ratings, our FAA-approved courses offer expert instruction, modern aircraft, and a clear path to your aviation career.",
      pageKeywords:
        "airplane training programs, pilot training Florida, airplane flight school Titusville, Part 141 pilot training, PPL IR CPL CFI CFII courses, professional pilot program USATS, learn to fly airplanes, FAA-approved airplane training, aviation training Space Coast, commercial pilot training Florida, private pilot training Titusville, flight instructor courses Florida",
  
      // Top Header
      header: {
        stars: true,
        imagePath: imgHeader.imagePath,
        imageAlt: imgHeader.imageAlt,
        headerH1: `AIRPLANE TRAINING<br>PROGRAMS</span>`,
        paragraph: ``,
        buttons: [
          {
            name: "Enroll Today",
            link: "/enroll-now",
            primary: true,
          },
          {
            name: "Program Guide",
            link: "#grid-programs",
            primary: false,
          },
        ],
      },
    },
  };

const { data } = coursesIndex;

import { AIRCRAFT_FLEET_KEYWORDS, CAREER_PATH_KEYWORDS, CORE_PROGRAM_KEYWORDS, DISCOVERY_EXPERIENCE_KEYWORDS, GENERAL_AVIATION_KEYWORDS, LOCATION_KEYWORDS } from "../../consts";
const keywords = `${GENERAL_AVIATION_KEYWORDS}, ${CORE_PROGRAM_KEYWORDS}, ${LOCATION_KEYWORDS}, ${DISCOVERY_EXPERIENCE_KEYWORDS}, ${CAREER_PATH_KEYWORDS}, ${AIRCRAFT_FLEET_KEYWORDS}, ${data.pageKeywords}`

---
<BaseLayout
  siteTitle={data.pageTitle}
  siteDescription={data.pageDescription}
  keywords={keywords}
  >
  
  <HeaderScreen content = {data.header} /> 
  
  <GridPrograms content={programs} />

  <CTADiscoveryFlights content={CTAFlight} />
  
</BaseLayout>

